In [ ]:
import torch
import torch.nn as nn
import torch.optim as optim

import numpy as np
import pandas as pd

In [ ]:
class LSTM(nn.Module):
  def __init__(self,input_size, hidden_size, output_size, num_layers):
    super(LSTM,self).__init__()
    self.input_size = input_size
    self.hidden_size = hidden_size
    self.output_size = output_size
    self.num_layers = num_layers

    self.lstm = nn.LSTM(input_size = input_size, hidden_size = hidden_size,
                        num_layers = num_layers, batch_first = True, bias = True)
    self.relu = nn.ReLU()
    self.fc = nn.Linear(hidden_dim, output_size)

  def forward(self,x):
    # num_layers * batch_size * hidden_dim
    # if batch_size == 1
    # hidden_dim크기의 1차원 벡터가 num_layers의 갯수만큼 존재
    h_0 = torch.zeros(self.num_layers,x.size(0),self.hidden_size)
    c_0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size)

    # hidden layer에 대한 선형 회귀
    output ,(hn,cn) = self.lstm(x,(h_0, c_0))
    out = self.relu(hn)
    out = self.fc(out)
    return out

In [ ]:
class new_LSTM(nn.Module):
  def __init__(self,input_size, hidden_size, output_size, num_layers):
    super(LSTM,self).__init__()
    self.input_size = input_size
    self.hidden_size = hidden_size
    self.output_size = output_size
    self.num_layers = num_layers

    self.lstm = nn.LSTM(input_size = input_size, hidden_size = hidden_size,
                        num_layers = num_layers, batch_first = True, bias = True)
    self.softmax = nn.Softmax(dim = 0)
    self.fc = nn.Linear(hidden_dim, output_size)

  def forward(self,x):
    # num_layers * batch_size * hidden_dim
    # if batch_size == 1
    # hidden_dim크기의 1차원 벡터가 num_layers의 갯수만큼 존재
    h_0 = torch.zeros(self.num_layers,x.size(0),self.hidden_size)
    c_0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size)

    # hidden layer에 대한 선형 회귀
    output ,(hn,cn) = self.lstm(x,(h_0, c_0))
    out = self.softmax(hn)
    out = self.fc(out)
    return out

In [ ]:
df = pd.read_csv('./train.csv')
df.head()

   Unnamed: 0   num
0           0  39.7
1           1  41.7
2           2  46.4
3           3  54.9
4           4  60.7

In [ ]:
df = df.drop(columns = 'Unnamed: 0')

In [ ]:
df.head()

    num
0  39.7
1  41.7
2  46.4
3  54.9
4  60.7

In [ ]:
data_np = df.values
data_dif = []
for i in range(len(data_np) - 1):
  data_dif.append(data_np[i+1] - data_np[i])

In [ ]:
dif_max = max(data_dif)
print(dif_max)

[129.7]

In [ ]:
# data의 증감 정도를 전부 discrete하게 변경